<h1>Editing Branch</h1>

<%= render 'form', branch: @branch %>

<% if @branch.employees.any? %>
  <%= render 'employees/employees', employees: @branch.employees %>
<% else %>
  <p>No employees registered</p>
<% end %>

<%= link_to 'Show', [current_user, @branch], class: 'btn btn-info' %> |
<%= link_to 'Back', user_branches_path(current_user), class: 'btn btn-outline-secondary' %>
