<h1>Editing Employee</h1>

<%= render 'form', employee: @employee, branches: current_user.branches, edit_constraint: true %>

<%= link_to 'Back', user_branch_path(current_user, @branch), class: 'btn btn-outline-secondary' %>
