<h1>Home#index</h1>
<p>PROYEKT</p>

<%= link_to 'Add new sucursal', '#', class: 'btn btn-success' %>
<%= link_to 'Add employees to a sucursal', '#', class: 'btn btn-success' %>

<div>
  <h2>Sucursales</h2>
  <ul>
    
  </ul>
</div>
